copy_on_select  true
copy_command "pbcopy"

keybinds {
  normal {
    bind "Ctrl o" { SwitchToMode "pane"; }
  }
}

layout {
    pane split_direction="horizontal" {
        pane split_direction="vertical" size="70%" {
            pane command="nvim" {
                args "."
            }
            pane command="claude" {
                args "code"
            }
        }
        pane size="30%"
    }
}

